<header class="p-3 bg-dark ">
  <div class="header-container">

    <a href="/"
      class="d-flex w-auto align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img class="logo" src="./assets/logo.png">
      <div class="d-flex p-3 justify-content-center">
        <h3 style="color: #0097b2;">Anime</h3>
        <h3 style="color: #ffffff;">TV</h3>
      </div>
    </a>
    <div class="nav-container">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ">
        <li><a href="#" class="nav-link px-2 link-body-emphasis h4">Início</a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis h4">Categorias</a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis h4">Favoritos</a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis h4">Histórico</a></li>
      </ul>
      <div class="dropdown text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="./assets/perfil.jpeg" alt="mdo" width="42" height="42" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" style="">
          <li><a class="dropdown-item" href="#">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Configurações</font>
              </font>
            </a></li>
          <li><a class="dropdown-item" href="#">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Perfil</font>
              </font>
            </a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Sair</font>
              </font>
            </a></li>
        </ul>
      </div>

    </div>
    

    <!-- <div class="search-form">

      <span class="fa fa-lock p-2" (click)="toggleSearch()"></span>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input *ngIf="isSearchVisible" #searchInput type="search" class="form-control" placeholder="Procurar..."
          [(ngModel)]="searchQuery">

      </form>
    </div> -->

    
  </div>
</header>